.navigation-container {
  width: 100%;
  padding-right: 15px;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(37, 151, 193, 0.9);
  height: 55px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  font-size: 14px;
  align-items: center;
  color: white;
}
